# Секреты и токены
.env

# База данных и кэш
bot_data.db
__pycache__/
*.pyc

# Временные файлы картинок
in_*.jpg
out_*.jpg

# Локальные текстовые файлы (опционально, если не хочешь пушить свои каналы/рекламу)
channels.txt
ad.txt
